{% extends 'base.html' %}


{% block title %}
    Города
{% endblock title%}


{% block content %}


    <div class="row my-3">
        <div class="col-md-8 mx-auto">


        <h1>Список городов</h1>

            <!-- Cities display -->
            <table class="table my-3">
                <thead>

                </thead>
                <tbody>

                    {% for object in page_obj %}
                        <tr class="table-light">
                            <th>{{ object.name }}</th>
                            <td>
                                <a href="{% url 'cities:detail' object.id %}">
                                    <button type="button" class="btn btn-outline-info btn-sm">
                                        Описание
                                    </button>
                                </a>
                            </td>
                        {% if user.is_authenticated %}
                            <td>
                                <a href="{% url 'cities:update' object.id %}">
                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                        Редактировать
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'cities:delete' object.id %}">
                                    <button type="button" class="btn btn-outline-danger btn-sm">
                                        Удалить
                                    </button>
                                </a>
                            </td>
                        {% else %}
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        {% endif %}
                        </tr>
                    {% endfor %}



                </tbody>
            </table>

            <!-- Pagination-->
            <div class="pagination">
                <span class="step-links">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    Previous
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">
                                    Previous
                                </a>
                            </li>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range %}
                            <li class="page-item">
                                <a class="page-link {% if page == page_obj.number %} active {% endif %}" href="?page={{ page }}">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    Next
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">
                                    Next
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </span>
            </div>

            {% if user.is_authenticated %}
                <!-- Adding -->
                <div class="container">
                    <h4>Добавить город</h4>
                    {% url 'cities:create' as action%}
                    {% include 'form.html' with button='Сохранить' action=action %}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock content%}
